@font-face {
  font-family: 'Raleway-Bold';
  src: url(./assets/fonts/Raleway-Bold.ttf);
 }

body {
  margin: 0;
  font-family: 'Raleway-Bold', sans-serif;
  text-align: center;
}

header {
  animation-name: appearing;
  animation-duration: 1s;
  background-image: url(./assets/images/header-background.jpg);
  background-repeat: no-repeat;
  background-color: rgba(82, 140, 163, 0.9);
  background-size: 100%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-content {
  box-shadow: white 0px 0px 11px;
  background-color: #fff;
  height: 235vh;
  width: 100%;
  position: relative;
  margin-top: 100vh;
  z-index: 2;
}

.hidden {
  display: none !important;
}

.title {
  color: #fff;
  font-weight: bold;
  display: flex;
}

.first-screen-title-main {
  animation-name: surfacing;
  animation-duration: 0.8s;
  font-size: 5.5em;
  align-items: flex-end;
}

.first-screen-title-sub {
  animation-name: surfacing;
  animation-duration: 0.8s;
  font-size: 1.5em;
  align-items: flex-start;
}

.second-screen-title-main {
  color: #ccc;
  font-size: 4em;
  line-height: 0.8rem;
  padding-top: 10vh;
  padding-bottom: 7vh;
}

.project-img {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  color: rgba(255, 255, 255, 1);
}

.vending-img-description {
  animation-name: vending-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
}

.vending-img {
  animation-name: vending-description-disappearing;
  background-size: cover;
  animation-duration: 0.4s;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
}

.document-editing-img-description {
  animation-name: document-editing-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
}

.document-editing-img {
  animation-name: document-editing-description-disappearing;
  animation-duration: 0.4s;
  background-size: cover;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
}

.car-management-img {
  background-image: url(./assets/images/document-editing.jpg);
}

.vacation-management-img {
  background-image: url(./assets/images/document-editing.jpg);
}

.main-content-img {
  display: flex;
  background-image: url(./assets/images/main-content-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
}

.main-content-text-title {
  color: #434343;
  font-size: 5em;
  line-height: 0.9em;
}

.main-content-text {
  color: #969696;
  font-family: Arial, Helvetica;
  font-size: 2em;
}

.vending-img-description .hidden,
.document-editing-img-description .hidden,
.car-management-img-description .hidden,
.vacation-management-img-description .hidden {
  display: flex !important;
  animation-name: description-appearing;
  animation-duration: 0.3s;
}

.vending-img .hidden,
.document-editing-img .hidden,
.car-management-img .hidden,
.vacation-management-img .hidden {
  display: none !important;
  animation-name: description-disappearing;
  animation-duration: 0.3s;
}

@keyframes appearing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes surfacing {
  from {
    top: 8vh;
  }

  to {
    top: 0vh;
  }
}

@keyframes description-appearing {
  from {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
  }
  to {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
  }
}

@keyframes description-disappearing {
  from {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
  }
  to {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
  }
}

@keyframes vending-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vending.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vending.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vending.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vending.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vending.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vending.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vending.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/vending.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
  }
}

@keyframes vending-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vending.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vending.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vending.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vending.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vending.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vending.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vending.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/vending.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
  }
}

@keyframes document-editing-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/document-editing.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/document-editing.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/document-editing.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/document-editing.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/document-editing.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/document-editing.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/document-editing.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/document-editing.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
  }
}

@keyframes document-editing-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/document-editing.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/document-editing.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/document-editing.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/document-editing.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/document-editing.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/document-editing.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/document-editing.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/document-editing.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
  }
}

